h1 {
  font family: sans-serif;
}

h2{
  font family: sans-serif;
}

h3 {
  font family: sans-serif;
}

p {
  color: white;
}

p{
  text-align: left;
}

p {
  font-style: normal;
}

p{
  text-indent: inherit;
}
