h3 {
  font-family: "Georgia", serif;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-top: 5%;
}

figcaption {
  font-family: "Garamond", serif;
  color: gray;
  font-size: 150%;
  text-align: center;
}

img {
  margin: auto;
}

p {
  font-family: "Arial", sans-serif;
  color: green;
}

#crookedman {
  color: blue;
}
